@font-face {
  font-family: NanumSquareEB;
  src: url(./NanumSquareEB.woff);
}

@font-face {
  font-family: NanumSquareR;
  src: url(./NanumSquareR.woff);
}

@font-face {
  font-family: NanumSquareB;
  src: url(./NanumSquareB.woff);
}

@font-face {
  font-family: NanumSquareRoundEB;
  src: url(./NanumSquareRoundEB.woff);
}
